<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244398044795-7l1ghnj2mglpc4ptspb94k5fi7ki8knc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244398044795-7l1ghnj2mglpc4ptspb94k5fi7ki8knc</string>
	<key>API_KEY</key>
	<string>AIzaSyAZF0dAhjA_hz2aPksghh6rS-HaXpqCDBI</string>
	<key>GCM_SENDER_ID</key>
	<string>244398044795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Docomo.Beresoon</string>
	<key>PROJECT_ID</key>
	<string>beresoon-d968a</string>
	<key>STORAGE_BUCKET</key>
	<string>beresoon-d968a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244398044795:ios:84e3ec07c77b0a40</string>
	<key>DATABASE_URL</key>
	<string>https://beresoon-d968a.firebaseio.com</string>
</dict>
</plist>